* {
  font-family: "Newsreader";
  color:lightgray;  
}
body {
  background-color: #1D3A47;
}

div {
  margin: auto;
  width:50%;
  width: 50%;
  padding:1px;
  background-color: #32647A;
  border: 3px solid lightgray;
  border-radius: 25px;
}

div .content {
  width: 80%;
 
}

h3, h4 {
  text-align:center;
}

img {
  height:80px;
  margin: 0 auto;
  display: block;
}

div .list {
  border:none;
}

p {
  padding:5px;
  font-size:medium;
  text-align: justify;
  word-wrap: break-word;
}
div > nav{
  border:none;
}

div ul,ol{
  list-style-type: none;
  
}

ul {
  background-color: #1D3A47;
  border-radius: 25px;
  text-align:center;
}

ol {
  background-color: #678391;
  text-align:center;
}

nav {
  text-align: center;
}

form input, textarea, label{
  margin:0 auto;
  display:block;
  text-align:center;
}
